@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
/* @utility gradient {
  background-image: conic-gradient(
    theme(colors.blue.600),
    theme(colors.purple.600)
  );
} */

/* @utility gradient-title {
  @apply background-image: conic-gradient(
    theme(colors.blue.600),
    theme(colors.purple.600)
  );
  @apply font-extrabold bg-clip-text text-transparent tracking-tighter;
} */

@utility gradient {
    @apply bg-linear-to-br from-blue-600 to-purple-600;
  }
@utility gradient-title {
    @apply gradient font-extrabold tracking-tighter pr-2 pb-2 text-transparent bg-clip-text;
  }